.one{
    width:75%;
    height:300px;
    background-color: red;
}
.two{
    width:75%;
    height:300px;
    background-color: green;
}
.three{
    width:75%;
    height:300px;
    background-color: rgb(10, 20, 168);
}
.four{
    width:75%;
    height:100px;
 }
 .parent {
    width: 75%;
    height: 600px;
    background-color: yellow;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: top;
   }
.children-item1 {
    width: 33.33%;
    height: 200px;
    background-color: rgb(161, 59, 59);
    text-align: right;
    font-size: 40pt;
    align-items:flex-start;
}
.children-item2 {
    width: 33.33%;
    height: 200px;
    background-color: green;
    text-align: center;
    font-size: 40pt;
}
.children-item3 {
    width: 33.34%;
    height: 200px;
    background-color: rgb(10,20,168);
    text-align: left;
    font-size: 40pt;
}
.parent1{
    width: 90%;
    height: 500px;
    background-color: rgb(173, 230, 150);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.children-item11 {
    width: 350px;
    height: 350px;
    background-color: rgb(161, 59, 59);
    text-align: center;
    font-size: 40pt;
}
.children-item21 {
    width: 350px;
    height: 350px;
    background-color: green;
    text-align: center;
    font-size: 40pt;
}
.children-item31 {
    width: 350px;
    height: 350px;
    background-color: rgb(10,20,168);
    text-align: center;
    font-size: 40pt;
}
.parent2{
    width: 75%;
    height: 200px;
    background-color: rgb(173, 230, 150);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.children-item12 {
    width: 50%;
    height: 200px;
    background-color: rgb(5, 4, 4);
}
.children-item22 {
    width: 50%;
    height: 200px;
    background-color: rgb(127, 129, 127);
}